
/* TODO VARIABLES */
:root {
    /* * Estilos de los textos */
    --subtitulo_grande: clamp(25px, 4.194vw, 40px);
    --subtitulo_mediano: clamp(20px, 3.226vw, 30px);
    --subtitulo_pequeño: clamp(18px, 2.581vw, 22px);
    --parrafo: clamp(15px, 2.258vw, 20px);

    /* * Estilos de Colores */
    --anaranjado: #FC4D19;
    --crema: #FFA996;
    --negro: #0D1117;
    --plomo: #1F232C;
    --oscuro: #2C333B;
    --blanco: #FBFBFB;
    --gris: #838383;
    --degradadoAzul: linear-gradient(90deg, rgba(57,155,226,1) 25%, rgba(97,210,219,1) 100%);
    --degradadoAzul_oscuro: linear-gradient(90deg, rgba(57,155,226,1) 0%, rgba(57,155,226,0.25) 100%);
    --degradadoRojo: linear-gradient(90deg, rgba(255,106,121,1) 25%, rgba(232,67,46,1) 100%);
    --degradadoRojo_oscuro: linear-gradient(90deg, rgba(232,67,46,1) 0%, rgba(232,67,46,0.25) 100%);
    --azul: #399BE2;
    --rojo: #FF4646;

    /* * Otro */
    --colum1: calc(var(--colum1-2) - 20px);
    --colum1-2: calc(100vw/8);
}


/* TODO Estilos Generales */
* {
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--negro);
    font-size: var(--parrafo);
    color: var(--blanco);
    font-weight: 400;
}
h1 {
    font-size: var(--subtitulo_grande);
    font-weight: 700;
}
h2 {
    font-size: var(--subtitulo_grande);
    color: var(--anaranjado);
    font-weight: 700;
}
h3 {
    font-size: var(--h3);
    font-weight: 600;
}
.seccion {
    padding: clamp(70px, 6.94vw, 120px) var(--colum1); /* 100px */
    padding-bottom: clamp(90px, 8.33vw, 140px); /* 120px */
}
a {
    text-decoration: none;
    color: #000;
}




/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                               SECCION CORE
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
.secCore {
    background-color: var(--blanco);
    color: var(--negro);
}
.bloque {
    height: 71px;
    overflow: hidden;
    transition: 1s;
}
.h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
}
.subrayado {
    display: inline-flex;
    gap: 10px;
}
.subrayado__linea1 {
    width: 35px;
    height: 12px;
    background-color: var(--crema);
    border-radius: 20px;
}
.subrayado__linea2 {
    width: 65px;
    height: 12px;
    background-color: var(--anaranjado);
    border-radius: 20px;
}

/* * */
.elemento {
    display: grid;
    grid-template-columns: 1fr auto;
}

/* * CIRCULO */

.circulo {
    display: flex;
    width: clamp(30px, 5.161vw, 50px);
    height: clamp(30px, 5.161vw, 50px);
    background-color: var(--negro);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circulo__flecha {
    color: var(--blanco);
    font-size: clamp(18px, 2.774vw, 25px);
    transform: translateY(2px);
    transition: 1s;
}
.cirDesplegado {
    background-color: var(--anaranjado);
}
.fleDesplegado {
    transform: rotate(180deg) translateY(2px);
}

/* * Contenido */
.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 60px;
}
.contenido__h3 {
    font-size: var(--subtitulo_mediano);
}
.contenido__descripcion {
    color: var(--gris);
}

/* * CARRUSEL | Controles */
.carrusel__control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--anaranjado);
}
.carrusel__control-fle {
    cursor: pointer;

}
.carrusel__control-fle:hover {
    scale: 1.15;
}


/* * CARRUSEL | Contenedor */
.carrusel {
    display: flex;
    gap: 15px;
}
.carrusel__vista {
    overflow: hidden;
}
.carrusel__contenedor {
    display: flex;
    width: 200%;
}
.carrusel__card {
    width: 24%;
    border: 3px solid var(--negro);
    border-radius: 30px;
    padding: 40px 45px;
    margin-right: 1%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.carrusel__titulo {
    display: block;
    text-align: center;
    font-size: var(--subtitulo_pequeño);
    margin-bottom: 12px;
} 
.carrusel__texto {
    text-align: center;
    margin-bottom: 25px;
}
.carrusel__pic {
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-bottom: 35px;
}
.carrusel__boton {
    display: none;
    border-radius: 50%;
    background-color: var(--anaranjado);
    color: var(--blanco);
    align-items: center;
    justify-content: center;
    width: clamp(40px, 6.129vw, 55px);
    height: clamp(40px, 6.129vw, 55px);
    font-size: clamp(18px, 2.774vw, 25px);
    position: absolute;
    top: 25px;
    right: 25px;
    box-shadow: 0px 2px 4px var(--negro);
}

/* * SELECCIONADO */

.carrusel__card-seleccionado {
    border: 3px solid var(--anaranjado);
}
.carrusel__pic-seleccionado {
    color: var(--anaranjado);
}
.carrusel__boton-seleccionado {
    display: inline-flex;
    opacity: 1;
}

/* * ETIQUETAS */
.etiquetas {
    display: flex;
    justify-content: space-around;
}
.etiquetas__hijo {
    width: clamp(80px, 11.613vw, 100px);
    height: clamp(40px, 5.806vw, 50px);
    color: var(--blanco);
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.etiquetas__rpa {
    background: var(--degradadoAzul);
}
.etiquetas__ia {
    background: var(--degradadoRojo);
}
.etiquetas__span {
    font-weight: 700;
}

/* ?  --------------------------------------------------------- VERSION TABLET -------------------------------------------------------------------- */

@media screen and (min-width: 767px) and (max-width: 1023px) {
    
}
@media screen and (max-width: 1070px) {
    .bloque {
        height: 115px;
    }
}

/* ?  --------------------------------------------------------- VERSION MOBILE -------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
    .contenido {
        grid-template-columns: 1fr;
    }
    .carrusel__contenedor {
        width: 400%;
    }
    .carrusel__card {
        width: 24%;
        padding: clamp(25px, 4.194vw, 40px);
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
    .carrusel__boton{
        top: 15px;
        right: 15px;
    }
}

@media screen and (max-width: 890px) {
    .bloque {
        height: 100px;
    }
}
@media screen and (max-width: 755px) {
    .bloque {
        height: 87px;
    }
}
@media screen and (max-width: 620px) {
    .bloque {
        height: 82px;
    }
}
@media screen and (max-width: 375px) {
    .bloque {
        height: 130px;
    }
}




/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION FORMULARIO
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */

.contenido__descripcion-frase {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* * CIRCULO */
.circulo-oscuro {
    background-color: var(--blanco);
}
.circulo__flecha-oscuro {
    color: var(--negro);
}

/* * DESPLEGADO */
.cirDesplegado-oscuro {
    background-color: var(--anaranjado);
}
.fleDesplegado-oscuro {
    color: var(--blanco);
    transform: rotate(180deg) translateY(2px);
}
.secFormulario__bloque {
    height: 71px;
    overflow: hidden;
    transition: 1s;
}

/** BOTONES */
.botones {
    display: flex;
    justify-content: space-around;
}
.botones__secundario {
    border-radius: 70px;
    border: 3px solid var(--anaranjado);
    color: var(--anaranjado);
    padding: 15px 70px;
    cursor: pointer;
}
.botones__primario {
    border-radius: 70px;
    background-color: var(--anaranjado);
    color: var(--blanco);
    padding: 15px 80px;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

/* * PROCESOS **/
.procesos {
    margin-bottom: 30px;
    background-color: var(--plomo);
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 650px;
    overflow: auto;
}
.procesos__card {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding: 30px 20px;
    border-radius: 20px;
    position: relative;
}
    .procesos__card:hover {
        background-color: var(--oscuro);
    }
.procesos__contenido {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.procesos__texto {
    color: #868C94;
    font-weight: 500;
}

/* * ETIQUETAS */
.etiquetas__rpa-oscuro {
    background: var(--degradadoAzul_oscuro);
}
.etiquetas__ia-oscuro {
    background: var(--degradadoRojo_oscuro);
}


/* * BTN ELIMINAR */
.procesos__eliminar {
    border-radius: 50%;
    background-color: #95A4B5;
    color: var(--negro);
    display: none;
    justify-content: center;
    align-items: center;
    width: clamp(33px, 4.71vw, 40px);
    height: clamp(33px, 4.71vw, 40px);
    font-weight: 800;
    font-size: clamp(20px, 2.903vw, 25px);
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
    .procesos__card:hover .procesos__eliminar {
        display: flex;
    }
    .procesos__eliminar:hover {
        background-color: var(--blanco);
    }



/* * MENSAJE */
.mensaje {
    display: none;
    box-shadow: 0px 0px 5px var(--gris);
    border-radius: 20px;
    position: fixed;
    right: clamp(15px, 2.903vw, 30px);
    top: clamp(15px, 2.903vw, 30px);
    z-index: 1;
    transition: 0.5s;
    opacity: 0;
}
.mensaje__encabezado {
    border-radius: 20px 20px 0 0;
    color: var(--blanco);
    padding: clamp(13px, 2vw, 18px);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(4px, 0.71vw, 7px);
}
.mensaje__icono {
    font-size: clamp(20px, 2.903vw, 25px);
}
.mensaje__cuerpo {
    background-color: var(--blanco);
    padding: clamp(15px, 2.258vw, 20px);
    border-radius: 0 0 20px 20px;
    font-size: clamp(12px, 1.742vw, 15px);
}
.mensaje__enlace {
    border-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
}


.mensaje__encabezado-agregado {
    background-color: #1BBB01;
}
.mensaje__enlace-agregado {
    border: 2px solid #1BBB01;
}
.mensaje__encabezado-eliminado {
    background-color: #C80000;
}
.mensaje__enlace-eliminado {
    border: 2px solid #C80000;
}


/* ?  --------------------------------------------------------- VERSION TABLET -------------------------------------------------------------------- */

@media screen and (min-width: 767px) and (max-width: 1023px) {

}
@media screen and (max-width: 905px) {
    .secFormulario__bloque {
        height: 60px;
    }
}

/* ?  --------------------------------------------------------- VERSION MOBILE -------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
    .botones {
        flex-direction: column;
        gap: 20px;
    }
    .botones__secundario {
        display: flex;
        justify-content: center;
    }
    .botones__primario {
        display: flex;
        justify-content: center;
    }

    .procesos__card {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .procesos__contenido {
        text-align: center;
    }

    .procesos__eliminar {
        right: 15px;
        top: 15px;
    }
}


@media screen and (max-width: 675px) {
    .secFormulario__bloque {
        height: 50px;
    }
}






.bloDesplegado {
    height: auto;
}