
/* TODO VARIABLES */
:root {
    /* * Estilos de los textos */
    --subtitulo_grande: clamp(25px, 4.194vw, 40px);
    --subtitulo_mediano: clamp(20px, 3.226vw, 30px);
    --subtitulo_pequeño: clamp(18px, 2.581vw, 22px);
    --parrafo: clamp(15px, 2.258vw, 20px);

    /* * Estilos de Colores */
    --anaranjado: #FC4D19;
    --crema: #FFA996;
    --negro: #0D1117;
    --plomo: #1F232C;
    --oscuro: #2C333B;
    --blanco: #FBFBFB;
    --gris: #838383;
    --degradadoAzul: linear-gradient(90deg, rgba(57,155,226,1) 25%, rgba(97,210,219,1) 100%);
    --degradadoAzul_oscuro: linear-gradient(90deg, rgba(57,155,226,1) 0%, rgba(57,155,226,0.25) 100%);
    --degradadoRojo: linear-gradient(90deg, rgba(255,106,121,1) 25%, rgba(232,67,46,1) 100%);
    --degradadoRojo_oscuro: linear-gradient(90deg, rgba(232,67,46,1) 0%, rgba(232,67,46,0.25) 100%);
    --degradadoAnaranjado: linear-gradient(180deg, rgba(255,95,44,1) 30%, rgba(60,14,0,1) 100%);
    --azul: #399BE2;
    --rojo: #FF4646;

    /* * Otro */
    --colum1: calc(var(--colum1-2) - 25px);
    --colum1-2: calc(100vw/8);
}


/* TODO Estilos Generales */
* {
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--negro);
    font-size: var(--parrafo);
    color: var(--blanco);
    font-weight: 400;
}
h1 {
    font-size: var(--subtitulo_grande);
    font-weight: 700;
}
h2 {
    font-size: var(--subtitulo_grande);
    color: var(--anaranjado);
    font-weight: 700;
}
h3 {
    font-size: var(--h3);
    font-weight: 600;
}
.seccion {
    padding: clamp(28px, 4.71vw, 45px) var(--colum1); 
}
a {
    text-decoration: none;
    color: #000;
}





/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                               SECCION CORE
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
.secCore {
    background-color: var(--blanco);
    color: var(--negro);
}
.bloque {
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
.h2 {
    position: relative;
    display: inline-block;
}
.number {
    font-size: var(--subtitulo_grande);
    color: var(--anaranjado);
    font-weight: 700;
    text-align: center;
}
.subrayado {
    display: inline-flex;
    gap: 10px;
}
.subrayado__linea1 {
    width: clamp(25px, 3.871vw, 35px);
    height: clamp(10px, 1.419vw, 12px);
    background-color: var(--crema);
    border-radius: 20px;
}
.subrayado__linea2 {
    width: clamp(55px, 7.742vw, 65px);
    height: clamp(10px, 1.419vw, 12px);
    background-color: var(--anaranjado);
    border-radius: 20px;
}

/* * */
.elemento {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

/* * CIRCULO */

.circulo {
    display: flex;
    width: clamp(30px, 5.161vw, 50px);
    height: clamp(30px, 5.161vw, 50px);
    background-color: var(--negro);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circulo__flecha {
    color: var(--blanco);
    font-size: clamp(18px, 2.774vw, 25px);
    transform: translateY(2px);
    transition: 0.7s;
}
.cirDesplegado {
    background-color: var(--anaranjado);
}
.fleDesplegado {
    transform: rotate(180deg) translateY(2px);
}

/* * Contenido */
.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(10px, 2.258vw, 25px);
    margin-bottom: 35px;
}
.secGeneral .contenido {
    margin-bottom: 0;
}
.contenido__h3 {
    font-size: var(--subtitulo_mediano);
}
.contenido__descripcion {
    color: var(--gris);
}
.secAhorrar {
    margin-bottom: 20px;
}
.secAhorrar__contenedor {
    overflow: hidden;
}
.secAhorrar__contenido {
    display: flex;
    width: 500%;
    transition: 0.7s;
}
.secAhorrar__card {
    width: 100%;
}

/* * CARRUSEL | Controles */
.carrusel__control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: var(--anaranjado);
}
.carrusel__control-fle {
    cursor: pointer;

}
.carrusel__control-fle:hover {
    scale: 1.15;
}


/* * CARRUSEL | Contenedor */
.carrusel {
    display: flex;
    gap: 15px;
}
.carrusel__vista {
    overflow: hidden;
}
.carrusel__contenedor {
    display: flex;
    width: 400%;
}
.carrusel__card {
    width: 12%;
    border: 3px solid var(--negro);
    border-radius: 30px;
    padding: 40px 45px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.carrusel__titulo {
    display: block;
    text-align: center;
    font-size: var(--subtitulo_pequeño);
    margin-bottom: 12px;
} 
.carrusel__texto {
    text-align: center;
    margin-bottom: 25px;
}
.carrusel__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    margin-bottom: clamp(12px, 3.032vw, 35px);
}
.carrusel__pic .carrusel__pic-anaranjado {
    display: none;
}
.carrusel__boton {
    display: none;
    border-radius: 50%;
    background-color: var(--anaranjado);
    color: var(--blanco);
    align-items: center;
    justify-content: center;
    width: clamp(40px, 6.129vw, 55px);
    height: clamp(40px, 6.129vw, 55px);
    font-size: clamp(18px, 2.774vw, 25px);
    position: absolute;
    top: 25px;
    right: 25px;
    box-shadow: 0px 2px 4px var(--negro);
}

/* * SELECCIONADO */

.carrusel__card-seleccionado {
    border: 3px solid var(--anaranjado);
}
.carrusel__pic-seleccionado .carrusel__pic-negro {
    display: none;
}
.carrusel__pic-seleccionado .carrusel__pic-anaranjado {
    display: block;
}
.carrusel__boton-seleccionado {
    display: inline-flex;
    opacity: 1;
}

/* * ETIQUETAS */
.etiquetas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px;
}
.etiquetas__hijo {
    width: clamp(80px, 11.613vw, 100px);
    height: clamp(40px, 5.806vw, 50px);
    color: var(--blanco);
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.etiquetas__rpa {
    background: var(--degradadoAzul);
}
.etiquetas__ia {
    background: var(--degradadoRojo);
}
.etiquetas__span {
    font-weight: 700;
}



/* ?  --------------------------------------------------------- VERSION TABLET -------------------------------------------------------------------- */

@media screen and (min-width: 767px) and (max-width: 1023px) {
    
}

/* ?  --------------------------------------------------------- VERSION MOBILE -------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
    .contenido {
        grid-template-columns: 1fr;
    }
    .carrusel__contenedor {
        width: 800%;
    }
    .carrusel__card {
        width: 100%;
        padding: clamp(25px, 4.194vw, 40px);
        margin-left: 0.125%;
        margin-right: 0.125%;
    }
    .carrusel__boton{
        top: 15px;
        right: 15px;
    }
    .fleDesplegado {
        transform: rotate(180deg) translateY(0px);
    }

    .carrusel__pic {
        width: 70%;
        align-self: center;
    }
    
}






/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION GENERAL
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
.secGeneral {
    background-color: var(--blanco);
    color: var(--negro);
}
.secGeneral__container {
    display: flex;
    flex-direction: column;
    gap: clamp(13px, 2.129vw, 20px);
}
.secGeneral__cuerpo {
    margin-bottom: clamp(40px, 6.452vw, 60px);
}
.secGeneral__areas {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1.806vw, 18px);
}
.secGeneral__subtitulo {
    color: var(--anaranjado);
    font-weight: 600;
    font-size: var(--subtitulo_pequeño);
}
.secGeneral__contenido {
    font-weight: 500;
    font-size: var(--subtitulo_pequeño);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.secGeneral__contenido-strong {
    font-weight: 800;
}
.secGeneral__contenido-color {
    color: var(--anaranjado);
}


/* * PUESTOS */
.puestos {
    display: flex;
    justify-content: space-around;
    font-size: clamp(12px, 1.935vw, 18px);
    font-weight: 400;
    flex-wrap: wrap;
    row-gap: clamp(7px, 1.097vw, 10px);
    column-gap: clamp(12px, 1.935vw, 18px);
}
.puestos__card {
    padding: clamp(8px, 1.29vw, 12px) clamp(13px, 2.129vw, 20px);
    border-radius: 12px;
    border: 2px solid var(--negro);
    text-align: center;
    cursor: default;
    display: flex;
    align-items: center;
}

/* * MINICIRCULO */
.miniCirculo {
    width: clamp(23px, 3.742vw, 35px);
    height: clamp(23px, 3.742vw, 35px);
}
.miniCirculo__flecha {
    font-size: clamp(15px, 2.258vw, 20px);
}


/* * PROCESOS */
.secGeneral__procesos {
    background-repeat: no-repeat;
    border-radius: 30px;
    border: 3px solid var(--anaranjado);
    margin-top: clamp(18px, 2.774vw, 25px);
    padding: clamp(15px, 2.581vw, 25px) 0;
    height: clamp(500px, 72.258vw, 620px);
    position: relative;
}
.secGeneral__vista {
    height: 100%;
    overflow-y: auto;
    padding: 0 clamp(17px, 4vw, 45px);
    position: relative;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}
.scroll::-webkit-scrollbar {
    width: 10px; /* ancho de la barra de desplazamiento */
}
  
.scroll::-webkit-scrollbar-track {
    background: transparent /* color del área de seguimiento */
 }
  
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--anaranjado); /* color del botón de desplazamiento */
    border-radius: 20px; /* redondez del botón de desplazamiento */
}

.secGeneral__contenedor {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1.742vw, 17px);
}
.secGeneral__elemento {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--negro);
    padding: clamp(10px, 1.613vw, 15px) clamp(15px, 2.581vw, 25px);
    cursor: pointer;
    transition: 0.5s;
}
.secGeneral__elemento-desplegado {
    background-color: var(--anaranjado);
    color: var(--blanco);
    border: 2px solid transparent;
}
.secGeneral__caja {
    display: flex;
    flex-direction: column;
    gap: clamp(7px, 1.29vw, 13px);
}
.secGeneral__collapse {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1.806vw, 18px);
    padding-left: clamp(15px, 2.581vw, 25px);
    overflow: hidden;
    height: 0;
    transition: 0.5s ease;
}
.texto {
    display: flex;
    align-items: center;
}
.secGeneral__item {
    display: grid;
    grid-template-columns: auto 3.5fr 1.5fr;
    gap: 15px;
    cursor: pointer;
    padding: 15px;
    border-radius: clamp(10px, 1.613vw, 15px);
}
    .secGeneral__item:hover {
        background-color: #ECECEC;
        transition: 0.3s;
    }
    .secGeneral__item:hover .secGeneral__circulo {
        border: 2px solid var(--anaranjado);
        color: var(--anaranjado);
        transition: 0.3s;
    }
.secGeneral__circulo {
    width: clamp(32px, 4.968vw, 45px);
    height: clamp(32px, 4.968vw, 45px);
    border: 2px solid var(--negro);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secGeneral__circulo-menos {
    display: none;
    opacity: 0;
}

/* * PORTADA */
.secGeneral__portada {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--blanco);
    border-radius: 30px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    opacity: 1;
    z-index: 2;
    transition: 1s;
}
.secGeneral__portada-texto {
    position: absolute;
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 70%;
    max-width: 280px;
    border-radius: 15px;
    font-size: var(--subtitulo_grande);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.8);
}
.secGeneral__portada-img {
    max-height: 95%;
}

/* * boton active */

.secGeneral__circulo-seleccionado {
    background-color: #1BBB01;
    border: 2px solid transparent;
    color: var(--blanco);
    transition: 0.3s;
}
.secGeneral__item:hover .secGeneral__circulo-seleccionado {
    color: var(--blanco);
    background-color: #C80000;
    border: 2px solid transparent;
    transition: 0.3s;
}


/* * mas o menos */
.secGeneral__item:hover .secGeneral__circulo-seleccionado .secGeneral__circulo-menos {
    display: block;
    transition: 0.3s;
    opacity: 1;
}
.secGeneral__item:hover .secGeneral__circulo-seleccionado .secGeneral__circulo-mas {
    display: none;
}


/* ?  --------------------------------------------------------- VERSION TABLET -------------------------------------------------------------------- */

@media screen and (min-width: 767px) and (max-width: 1023px) {

}

/* ?  --------------------------------------------------------- VERSION MOBILE -------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
    .secGeneral__item {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
    }
    .secGeneral__item .etiquetas {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}







/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                               SECCION BUSCADOR
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */

.secBuscar {
    background-color: var(--anaranjado);
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(23px, 4.387vw, 45px);
}
.secBuscar__h2 {
    color: var(--blanco);
    text-align: center;
    width: 70%;
    margin-bottom: clamp(10px, 2.258vw, 25px);
}
.secBuscar__p {
    color: #DDDDDD;
}

/* * BUSCADOR */
.buscador {
    width: 100%;
    max-width: 770px;
    position: relative;
}
.buscador__contenedor {
    background-color: #FF8561;
    border-radius: 15px;
    padding: 20px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}
.buscador__input {
    background: transparent;
    border: none;
    width: 325px;
}
.buscador__input::placeholder {
    color: var(--blanco);
}
.buscador__input:focus {
    outline: none;
}

.buscador__col1 {
    display: flex;
    gap: 13px;
}
.combobox__flecha {
    background: transparent;
    color: var(--blanco);
    display: inline;
}
.buscador__input-cmb {
    width: clamp(150px, 22.581vw, 200px);;
    text-align: center;
}
.bloque-cmb {
    position: absolute;
    background-color: var(--blanco);
    border-radius: 15px;
    color: var(--negro);
    transform: translateY(30px);
    z-index: 3;
    box-shadow: 0 0 5px var(--gris);
    max-height: 424px;
    overflow: auto;
}
.combobox__opciones {
    padding: 15px 18px;
    cursor: pointer;
}
.combobox__opciones:hover {
    background-color: #ECECEC;
}


/* * BUSCADOR LISTA */

.buscador__lista {
    list-style: none;
    background-color: var(--blanco);
    border-radius: 15px;
    position: absolute;
    transform: translateY(15px);
    z-index: 3;
    width: 100%;
    overflow: auto;
    max-height: 511px;
    display: none;
    box-shadow: 0 0 5px var(--negro);
}
.buscador__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 3fr 2fr;
    padding: clamp(15px, 2.581vw, 25px);
    gap: 13px;
    color: var(--negro);
    cursor: pointer;
}
.buscador__col1 {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.buscador__item:hover {
    background-color: #ECECEC;
}
.buscador__item-ultimo {
    display: none;
}

/* * FOCUS */
.buscador__input-pro:focus ~ .buscador__lista {
    display: block;
}


/* * CIRCULO */
.buscador__circulo {
    border-radius: 50%;
    border: 2px solid var(--negro);
    color: var(--negro);
    width: clamp(27px, 4.129vw, 37px);
    height: clamp(27px, 4.129vw, 37px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.buscador__circulo-menos {
    display: none;
}

.buscador__item:hover .buscador__circulo {
    border: 2px solid var(--anaranjado);
    color: var(--anaranjado);
}
.buscador__item:hover .buscador__circulo-seleccionado{
    border: 2px solid transparent;
    color: var(--blanco);
    background-color: #C80000;
}
.buscador__item:hover .buscador__circulo-seleccionado .buscador__circulo-menos {
    display: block;
}
.buscador__item:hover .buscador__circulo-seleccionado .buscador__circulo-mas {
    display: none;
}

.buscador__circulo-seleccionado {
    background-color: #1BBB01;
    border: 2px solid transparent;
    color: var(--blanco);
}


/* ?  --------------------------------------------------------- VERSION MOBILE -------------------------------------------------------------------- */

@media screen and (max-width: 784px) {
    .buscador__contenedor {
        justify-content: center;
    }
    .buscador__col1 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .buscador__input-pro {
        max-width: 90%;
        width: auto;
        min-width: clamp(240px, 33.871vw, 285px);
    }
}

@media screen and (max-width: 767px) {
    .secBuscar__h2 {
        width: 100%;
    }
    .buscador__item {
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
    }
    .etiquetas-buscador {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

@media screen and (max-width: 390px) {
    .buscador__input-pro {
        min-width: 95%;
    }
}





/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION PASOS PARA AHORRAR
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
.secPasos__h2 {
    max-width: 1000px;
}

.slider__fila1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: clamp(10px, 1.935vw, 20px);
}

/* * CIRCULO */
.slider__circulo {
    border-radius: 50%;
    width: clamp(30px, 5.806vw, 60px);
    height: clamp(30px, 5.806vw, 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    color: var(--negro);
    font-size: clamp(13px, 2.452vw, 25px);
    cursor: pointer;
}
.slider__circulo-visto {
    background-color: #FF9778;
    color: var(--blanco);
}
.slider__circulo-activo {
    width: clamp(38px, 6.839vw, 68px);
    height: clamp(38px, 6.839vw, 68px);
    background-color: var(--anaranjado);
    font-size: clamp(16px, 2.839vw, 28px);
    color: var(--blanco);
}

/* * TEXTO */
.slider__p {
    padding: 10px;
    width: 150px;
    background-color: var(--plomo);
    border-radius: 20px;
    text-align: center;
}

/* * BARRA */
.slider__barraTotal {
    background-color: var(--blanco);
    height: clamp(15px, 2.903vw, 30px);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.slider__barra {
    background: var(--degradadoAnaranjado);
    height: 100%;
    width: calc(100%/4);
    border-radius: 0 20px 20px 0;
    transition: 0.7s;
}



/* * TRIANGULO */
.slider__triangulos {
    display: flex;
    align-items: end;
    position: relative;
    z-index: 1;
}
.slider__triangulo {
    transform: translateY(3px);
}
.slider__triangulo-anaranjado {
    display: none;
}
.slider__triangulo-crema {
    display: none;
}

.slider__triangulos-activo .slider__triangulo-blanco {
    display: none;
}
.slider__triangulos-activo .slider__triangulo-crema {
    display: none;
}
.slider__triangulos-activo .slider__triangulo-anaranjado {
    display: block;
}


.slider__triangulos-visto .slider__triangulo-blanco {
    display: none;
}
.slider__triangulos-visto .slider__triangulo-crema {
    display: block;
}
.slider__triangulos-visto .slider__triangulo-anaranjado {
    display: none;
}


/* * MOVIL */
.slider-movil {
    background-color: var(--negro);
    position: sticky;
    z-index: 4;
    top: 0;
    left: 0;
    transform: translateY(-1px);
    padding: clamp(15px, 3.226vw, 35px) var(--colum1);
    box-shadow: 0 0 5px var(--gris);
    display: none;
}
.slider-movil .slider__barraTotal {
    height: clamp(15px, 2.452vw, 23px);
}
.slider-movil__contenedor {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
}
.slider-movil__p {
    display: none;
    padding: 20px 30px;
    width: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 5px var(--gris);
}
.slider-movil__p-activo {
    display: block;
    opacity: 1;
}
.slider-movil__circulo {
    width: clamp(27px, 4.968vw, 50px);
    height: clamp(27px, 4.968vw, 50px);
}
.slider-movil__circulo-activo {
    width: clamp(32px, 5.613vw, 55px);
    height: clamp(32px, 5.613vw, 55px);

    background-color: var(--anaranjado);
    font-size: clamp(16px, 2.839vw, 28px);
    color: var(--blanco);
}


/* * Responsive */
.sliderResponsive {
    display: none;
}
.sliderResponsive__encabezado {
    background-color: var(--plomo);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.sliderResponsive__barra {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1.5fr);
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #252E39;
}
.sliderResponsive__item {
    background-color: var(--plomo);
}
.sliderResponsive__boton {
    background-color: var(--plomo);
    color: #838383;
    text-align: center;
    padding: 15px;
    font-weight: 700;
    padding-left: 15%;
    border-right: 2px solid #252E39;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 17px;
}
    .sliderResponsive__barra > *:last-child .sliderResponsive__boton {
        border: none;
    }
    .sliderResponsive__barra > *:first-child .sliderResponsive__boton {
        padding-left: 15px;
    }

.sliderResponsive__boton-activo {
    background-color: var(--anaranjado);
    color: var(--blanco);
    transition: 0.7s;
}
.sliderResponsive__item-activo {
    background-color: var(--anaranjado);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.7s;
}
.sliderResponsive__contenedor {
    overflow: hidden;
    background-color: var(--plomo);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sliderResponsive__contenido {
    display: flex;
    width: 400%;
    transition: 0.7s;
}
.sliderResponsive__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 30px 20px;
    color: var(--gris);
    font-weight: 500;
    width: 100%;
}
.sliderResponsive__titulo {
    color: var(--blanco);
    font-weight: 700;
    font-size: 20px;
}

/* * BARRA LATERAL */
.encabezado {
    display: grid;
    grid-template-columns: clamp(20px, 5.161vw, 60px) 1fr;
    gap: clamp(10px, 2.903vw, 35px);
    align-items: center;
    margin-bottom: 25px;
}
.secGeneral__encabezado {
    margin-bottom: 0px;
}
.cuerpo {
    display: grid;
    grid-template-columns: clamp(20px, 5.161vw, 60px) 1fr;
    gap: clamp(10px, 2.903vw, 35px);
}
.encabezado__columna1 {
    display: flex;
    justify-content: center;
}
.columna1 {
    height: 100%;
    display: flex;
    justify-content: center;
}
.linea {
    background: linear-gradient(180deg, rgba(255,98,31,0) 0%, rgba(255,98,31,1) 30%, rgba(255,98,31,1) 70%, rgba(255,98,31,0) 100%);
    width: 6px;
    height: 100%;
    border-radius: 20px;
}


/* ?  --------------------------------------------------------- VERSION MOBILE -------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
    .slider {
        display: none;
    }
    .slider__triangulo {
        width: 18px;
        height: 16px;
    }
    .sliderResponsive {
        display: block;
    }
    .slider-movil {
        display: block;
    }
    .secAhorrar .main {
        width: 92%;
    }
    .secGeneral__encabezado {
        grid-template-columns: 30px 1fr;
    }
}
@media screen and (max-width: 650px) {
    .secAhorrar .main {
        width: 87%;
    }
}
@media screen and (max-width: 650px) {
    .secAhorrar .main {
        width: 87%;
    }
}
@media screen and (max-width: 620px) {
    .secAhorrar .main {
        width: 84%;
    }
}
@media screen and (max-width: 560px) {
    .secAhorrar .main {
        width: 75%;
    }
}
@media screen and (max-width: 525px) {
    .secAhorrar .main {
        width: 70%;
    }
}
@media screen and (max-width: 487px) {
    .secAhorrar .main {
        width: 68%;
    }
}
@media screen and (max-width: 470px) {
    .secAhorrar .main {
        width: 65%;
    }
}
@media screen and (max-width: 445px) {
    .secAhorrar .main {
        width: 62%;
    }
}
@media screen and (max-width: 423px) {
    .secAhorrar .main {
        width: 60%;
    }
}
@media screen and (max-width: 407px) {
    .secAhorrar .main {
        width: 58%;
    }
}
@media screen and (max-width: 391px) {
    .secAhorrar .main {
        width: 56%;
    }
}
@media screen and (max-width: 377px) {
    .secAhorrar .main {
        width: 54%;
    }
}
@media screen and (max-width: 363px) {
    .secAhorrar .main {
        width: 52%;
    }
}
@media screen and (max-width: 349px) {
    .secAhorrar .main {
        width: 50%;
    }
}
@media screen and (max-width: 335px) {
    .secAhorrar .main {
        width: 48%;
    }
}
@media screen and (max-width: 320px) {
    .secAhorrar .main {
        width: 45%;
    }
}


/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                             SECCION FORMULARIO
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */

.contenido__descripcion-frase {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* * CIRCULO */
.circulo-oscuro {
    background-color: var(--blanco);
}
.circulo__flecha-oscuro {
    color: var(--negro);
}

/* * DESPLEGADO */
.cirDesplegado-oscuro {
    background-color: var(--anaranjado);
}
.fleDesplegado-oscuro {
    color: var(--blanco);
    transform: rotate(180deg) translateY(2px);
}

/** BOTONES */
.botones {
    display: flex;
    justify-content: space-around;
}
.botones__secundario {
    border-radius: 70px;
    border: 3px solid var(--anaranjado);
    color: var(--anaranjado);
    padding: 15px 70px;
    cursor: pointer;
}
.botones__primario {
    border-radius: 70px;
    background-color: var(--anaranjado);
    color: var(--blanco);
    padding: 15px 80px;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

/* * PROCESOS **/
.procesos {
    margin-bottom: 30px;
    background-color: var(--plomo);
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 650px;
    overflow: auto;
}
.procesos__card {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding: 30px 20px;
    border-radius: 20px;
    position: relative;
}
    .procesos__card:hover {
        background-color: var(--oscuro);
    }
.procesos__contenido {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.procesos__texto {
    color: #868C94;
    font-weight: 500;
}

/* * ETIQUETAS */
.etiquetas__rpa-oscuro {
    background: var(--degradadoAzul_oscuro);
}
.etiquetas__ia-oscuro {
    background: var(--degradadoRojo_oscuro);
}


/* * BTN ELIMINAR */
.procesos__eliminar {
    border-radius: 50%;
    background-color: #95A4B5;
    color: var(--negro);
    display: none;
    justify-content: center;
    align-items: center;
    width: clamp(33px, 4.71vw, 40px);
    height: clamp(33px, 4.71vw, 40px);
    font-weight: 800;
    font-size: clamp(20px, 2.903vw, 25px);
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
    .procesos__card:hover .procesos__eliminar {
        display: flex;
    }
    .procesos__eliminar:hover {
        background-color: var(--blanco);
    }



/* * MENSAJE */
.mensaje {
    display: none;
    box-shadow: 0px 0px 5px var(--gris);
    border-radius: 20px;
    position: fixed;
    right: clamp(15px, 2.903vw, 30px);
    top: clamp(15px, 2.903vw, 30px);
    z-index: 7;
    transition: 0.5s;
    opacity: 0;
}
.mensaje__encabezado {
    border-radius: 20px 20px 0 0;
    color: var(--blanco);
    padding: clamp(13px, 2vw, 18px);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(4px, 0.71vw, 7px);
}
.mensaje__icono {
    font-size: clamp(20px, 2.903vw, 25px);
}
.mensaje__cuerpo {
    background-color: var(--blanco);
    padding: clamp(15px, 2.258vw, 20px);
    border-radius: 0 0 20px 20px;
    font-size: clamp(12px, 1.742vw, 15px);
}
.mensaje__enlace {
    border-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
}


.mensaje__encabezado-agregado {
    background-color: #1BBB01;
}
.mensaje__enlace-agregado {
    border: 2px solid #1BBB01;
}
.mensaje__encabezado-eliminado {
    background-color: #C80000;
}
.mensaje__enlace-eliminado {
    border: 2px solid #C80000;
}


/* ?  --------------------------------------------------------- VERSION TABLET -------------------------------------------------------------------- */

@media screen and (min-width: 767px) and (max-width: 1023px) {

}
/* ?  --------------------------------------------------------- VERSION MOBILE -------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
    .botones {
        flex-direction: column;
        gap: 20px;
    }
    .botones__secundario {
        display: flex;
        justify-content: center;
    }
    .botones__primario {
        display: flex;
        justify-content: center;
    }

    .procesos__card {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .procesos__contenido {
        text-align: center;
    }

    .procesos__eliminar {
        right: 15px;
        top: 15px;
    }
}


.bloDesplegado {
    height: auto;
}






.separadorContenedor {
    background-color: var(--blanco);
}
.separador {
    width: 100%;
    clip-path: polygon(0 100%, 0 1%, 16% 65%, 31% 0, 45% 70%, 58% 0, 69% 59%, 81% 0, 92% 54%, 100% 0, 100% 100%);
    background-color: var(--anaranjado);
    height: clamp(50px, 11.613vw, 130px);
    transform: translateY(10px);
}
.separador-oscuro {
    background-color: var(--negro);
}
.separador-360 {
    transform: rotate(180deg) translateY(10px);
}